[run]
omit = 
        ./sksurgerytf/_version.py
        ./sksurgerytf/__init__.py
        ./sksurgerytf/__main__.py
        ./sksurgerytf/ui/sksurgery_fashion_command_line.py
        ./sksurgerytf/ui/__init__.py
        ./sksurgerytf/models/__init__.py
