/sksurgerytf.rst
/sksurgerytf.*.rst
/sksurgeryfashion.rst
/sksurgeryhomographynet.rst
/sksurgeryliverseg.rst
/sksurgerysegstats.rst
/modules.rst
/versioneer.rst
/build

# Mac Finder:
.DS_Store

# Virtual Environment
venv/